<% htmlWebpackPlugin.options.headScripts = htmlWebpackPlugin.options.headScripts || [] %>
<% htmlWebpackPlugin.options.headLinks = htmlWebpackPlugin.options.headLinks || [] %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name='description' content='description'>
  <!--[if lte IE 10]>
      <script
        src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="<%= htmlWebpackPlugin.options.publicPath %>logo.svg" type="image/x-icon" />
  {{#ravenId}}
  <%= htmlWebpackPlugin.options.development ? undefined : '<script src="https://cdn.ravenjs.com/3.15.0/raven.min.js" crossorigin="anonymous"></script>' %>
  {{/ravenId}}
  <title>{{name}}</title>
  <% for (item of htmlWebpackPlugin.options.headLinks) { %>
    <link rel="stylesheet" href="<%= item %>">
  <% } %>
  <% for (item of htmlWebpackPlugin.options.headScripts) { %>
    <script src="<%= item %>"></script>
  <% } %>
</head>

<body>
  <div id="root"></div>
  {{#ravenId}}
  <%= htmlWebpackPlugin.options.development ? undefined : `<script type="application/javascript">
   Raven.config('{{ravenId}}').install()
  </script>` %>
  {{/ravenId}}
</body>

</html>

